mat-form-field {
  width: 300px;
}

.login-page {
  width: 400px;
  height: 400px;
  border: 1px solid lightblue;
  background-color: whitesmoke;
  padding: 10px;
}

.login-section {
  padding-top: 20px;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}
