<section class="login-section" fxLayout="column" fxLayoutAlign="center center">
    <div class="login-page">
        <form style="height: 100%" fxLayout="column" fxLayoutAlign="center center" #f="ngForm">
            <mat-form-field>
                <input
                        ngModel
                        name="email"
                        required
                        email
                        type="email"
                        placeholder="Email"
                        matInput
                        #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Please provide correct Email</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                        ngModel
                        name="password"
                        required
                        type="password"
                        placeholder="Password"
                        matInput>
                <mat-error *ngIf="emailInput.hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <button [disabled]="f.invalid" type="submit" mat-raised-button>Submit</button>
        </form>
    </div>
</section>



